<div class="combobox-div">
  <div class="horizental-div">
    <label class="combobox-label">{{
      countItems(checkedItems) > 3
        ? countItems(checkedItems) + " itmes slected"
        : checkedItems.substring(1)
    }}</label>
    <fa-icon
      (click)="onclick()"
      [ngStyle]="{
        cursor: 'pointer',
        size: '4px',
        'padding-left': '7px',
        color: '#ffffff'
      }"
      [icon]="faIcon"
    ></fa-icon>
  </div>
  <div
    [ngStyle]="{ visibility: isOpen ? 'visible' : 'hidden' }"
    class="options-div"
  >
    <app-option
      *ngFor="let option of optionsArray"
      [name]="option"
      (CheckedChange)="CheckedChange($event)"
    ></app-option>
  </div>
</div>
